// ? colours-palettes

$skyblueColor : rgba(40,175,195,255);
$whiteColor : #fff;
$blackColor : rgba(40,175,195,255);
$coralColor : rgba(255,141,97,255);
$lightgreyColor : rgba(242,242,242,255);
$greyColor : rgba(112,112,112,255);