*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Fira Sans", Arial, Helvetica, sans-serif;
}

.container{
    width: 1250px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.flex-aic{
    display: flex;
    align-items: center;
}

ul{
    list-style: none;
}

button{
    border: none;
}