*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Fira Sans", Arial, Helvetica, sans-serif;
}

.container{
    width: 1500px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.flex-aic{
    display: flex;
    align-items: center;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

button{
    border: none;
}

.separator{
    display: inline-block;
    width: 100px;
    height: 3px;
    background-color: coral;
}

.spacer{
    align-items: center;
    justify-content: center;
    height: 150px;
    background-color: rgba(25,25,25,255);
    color: #fff;
    font-size: 1.2rem;
    font-weight: bolder;
    transition : all 1s cubic-bezier(.215, .61, .355, 1);
}
.spacer:hover{   
    background-color: rgba(40,175,195,255);
}

.spacer i{
    margin-left: 0.7rem;
}

.bg-fb{
    background-color: rgba(60,89,152,255);
}
.bg-tw{
    background-color: rgba(84,172,238,255);
}
.bg-ig{
    background-color: rgba(63,114,155,255);
}
.bg-yt{
    background-color: rgba(205,32,31,255);
}

